CSDummyClient/Connected Services/MsmqReference/MessageBrokerClient.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18193/MessageBrokerClient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoapWcf" />
  <xs:element name="TransmitMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoapWcf" minOccurs="0" name="msg" nillable="true" type="q1:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unregister">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>