CSDummyClient/Connected Services/MsmqReference/MessageBrokerClient1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoapWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoapWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element name="Amount" type="xs:double" />
      <xs:element name="CcNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="tns:PaymentStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:simpleType name="PaymentStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WAITING" />
      <xs:enumeration value="VALIDATED" />
      <xs:enumeration value="CANCELLED" />
      <xs:enumeration value="REJECTED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentStatus" nillable="true" type="tns:PaymentStatus" />
</xs:schema>